@CHARSET "UTF-8";

.ephemeral_wrap {
	overflow: auto;
}

.ephemeral_box_3 {
	float: left;
	width: 227px;
	height: 120px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 0px;
}

.ephemeral_box_4 {
	float: left;
	width: 227px;
	height: 120px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 3px;
	margin-right: 10px;
}

.ephemeral_hsmall {
	margin-left: 30px;
	font-size: 12px;
	font-family: LinBio;
	color: #000000;
}