@CHARSET "UTF-8";


.right_box_1 {
	margin-top: 10px;
	margin-bottom: 10px;	
}

.right_box_2 {
	margin: 10px;
	margin-top: 0px;
	margin-bottom: 3px;
}

.right_heading_1 {
	font-family: LinBioB;
	font-size: 22px;
	background-color: rgba(255,255,255,0.8);
	padding: 7px;
	color: #84221e;	
	border-top: 2px;
	border-bottom: 2px;
	border-right: 0px;
	border-left: 0px;
	border-color: #74552e;
	border-style: solid;
}

.right_text_1 {
	padding: 8px;
	font-family: LinLib;
	font-size: 16px;
	text-align: justify;
	background-color: rgba(255,255,255,0.8);
}

.right_ul {
	margin: 0px;
	margin-left: -15px;
}

.right_li {
	text-align: left;
	padding: 3px;
}


.right_link:link, .right_link:visited {
	font-family: LinLib;
	color: #84221e;
}