@CHARSET "UTF-8";

#main_left_1 {
	width: 161px;
	height: 200px;
	margin-top: -5px;
	margin-left: 10px;
}

#main_left_2 {
	background-color: rgba(255,255,255,0.6);
	width: 161px;
	height: 201px;
	margin-top: 78px;
	margin-left: 10px;
}

#main_left_footer {	
	width: inherit;
	height: 20px;
	margin-top: 502px;
	font-family: LinBio;
	font-size: 13px;
	color: #7e7e7e;
	text-align: center;
}

#footer_elfeck:link {
	text-decoration: none;	
	color: #c68328;
}

#footer_elfeck:visited {
	text-decoration: none;	
	color: #c68328;
}

#footer_copy {
	font-size: 13px;
	color: #c68328;
}

a.footer_link:link {
	color: #7e7e7e;
}

a.footer_link:visited {
	color: #7e7e7e;
}

.main_left_heading {
	padding: 5px;
	padding-bottom: 0px;
	color: #84221e;
	font-family: LinLibB;
	font-size: 22px;
}

.main_left_text {
	padding-left: 15px;
	padding-right: 5px;
	text-align: left;
	font-family: LinBio;
	font-size: 15px;
}

#navi {
	line-height: 30px;
	padding: 0px;
}

li.navi_ele {
	list-style-type: none;
	padding-bottom: 5px;
	width: inherit;
	height: 30px;
}

.navi_img_active {	
	width: 30px;
	background-position: center;
	background-repeat: no-repeat;
	height: inherit;
	float: left;
	background-image: url("../res/list_active.png");
}

.navi_img_inactive {
	width: 30px;
	background-position: center;
	background-repeat: no-repeat;
	height: inherit;
	float: left;
	background-image: url("../res/list_inactive.png");
}

a.navi_link_inactive:link, a.navi_link_inactive:visited {
	width: 161px;
	height: inherit;
	float: left;
	text-align: left;
	font-family: LinBio;
	font-size: 22px;
	text-decoration: none;
	color: #84221e;
	background-color: rgba(255,255,255,0.6);
}

a.navi_link_active:link, a.navi_link_active:visited {
	width: 161px;
	height: inherit;
	float: left;
	text-align: left;
	font-family: LinBio;
	font-size: 22px;
	text-decoration: none;
	color: #c68328;
	background-color: rgba(255,255,255,0.9);
}

a.navi_link_inactive:hover {
	background-color: rgba(255,255,255,0.9);
}

.navi_highlightOn {
}

.navi_highlightOff {
}

#li_padding {
	width: inherit;
	height: 4px;
}